@model IsYonetimPro.Entities.Dtos.EmployeePasswordChangeDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Şifre Değiştir";
}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        
    <div class="card mt-3">
        <div class="card-header">
            <h4 class="text-center">Şifre Değiştir</h4>
        </div>
        <div class="card-body">
            <form asp-action="PasswordChange" asp-controller="Employee" method="post">
                <div asp-validation-summary="All" class="text-danger" id="validation-summary">
                </div>
                <div class="form-group">
                    <label asp-for="CurrentPassword"></label>
                    <input class="form-control" type="password" asp-for="CurrentPassword" placeholder="Şu anki şifrenizi giriniz." />
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input class="form-control" type="password" asp-for="NewPassword" placeholder="Yeni şifrenizi giriniz." />
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RepeatPassword"></label>
                    <input class="form-control" type="password" asp-for="RepeatPassword" placeholder="Yeni şifrenizi tekrar giriniz." />
                    <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                    <a class="btn btn-danger btn-block" asp-controller="Home" asp-action="Index">İptal</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
